<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>LikeCodes</servlet-name>
        <servlet-class>servlets.LikeCodes</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UploadFile</servlet-name>
        <servlet-class>servlets.UploadFile</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UploadCode</servlet-name>
        <servlet-class>servlets.UploadCode</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShowCode</servlet-name>
        <servlet-class>servlets.ShowCode</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AllCodes</servlet-name>
        <servlet-class>servlets.AllCodes</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Like</servlet-name>
        <servlet-class>servlets.Like</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Dislike</servlet-name>
        <servlet-class>servlets.Dislike</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LikeCodes</servlet-name>
        <url-pattern>/LikeCodes</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UploadFile</servlet-name>
        <url-pattern>/UploadFile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UploadCode</servlet-name>
        <url-pattern>/UploadCode</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShowCode</servlet-name>
        <url-pattern>/ShowCode</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AllCodes</servlet-name>
        <url-pattern>/AllCodes</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Like</servlet-name>
        <url-pattern>/Like</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Dislike</servlet-name>
        <url-pattern>/Dislike</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
</web-app>
